//•••••••••••••••••••
// Specific Applied Colors
//•••••••••••••••••••
$rating-star-color: #ffc225;
$spotify-green: #1db954;
$facebook-blue: #3b5998;
$google-bg: #eaeaea;

//•••••••••••••••••••
// Color Pallet
//•••••••••••••••••••
$pallet-color-one: #0a369d;
$pallet-color-two: #4472ca;
$pallet-color-three: #5e7ce2;
$pallet-color-four: #92b4f4;
$pallet-color-five: #cfdee7;

//•••••••••••••••••••
// NavBar
//•••••••••••••••••••
$nav-bg-color: $pallet-color-one;
